# **IMPORT CÁC THƯ VIỆN CẦN THIẾT**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier

# **ĐỌC DỮ LIỆU**

In [ ]:
# train = pd.read_csv('/content/drive/MyDrive/CS116/data/train.csv')
# test = pd.read_csv('/content/drive/MyDrive/CS116/data/test.csv')
valid = pd.read_csv('/content/drive/MyDrive/CS116/data/valid.csv')
soil = pd.read_csv('/content/drive/MyDrive/CS116/data/soil_data.csv')

# **TIỀN XỬ LÍ DỮ LIỆU**

In [ ]:
soil = soil.drop(['lat', 'lon'], axis= 1)

In [ ]:
# train = train.merge(soil, left_on='fips', right_on='fips')
# test = test.merge(soil, left_on='fips', right_on='fips')
valid = valid.merge(soil, left_on='fips', right_on='fips')

In [ ]:
# train['year'] = pd.DatetimeIndex(train['date']).year
# train['month'] = pd.DatetimeIndex(train['date']).month
# train['day'] = pd.DatetimeIndex(train['date']).day
# train = train.drop(['date'], axis= 1)

# test['year'] = pd.DatetimeIndex(test['date']).year
# test['month'] = pd.DatetimeIndex(test['date']).month
# test['day'] = pd.DatetimeIndex(test['date']).day
# test = test.drop(['date'], axis= 1)

valid['year'] = pd.DatetimeIndex(valid['date']).year
valid['month'] = pd.DatetimeIndex(valid['date']).month
valid['day'] = pd.DatetimeIndex(valid['date']).day
valid = valid.drop(['date'], axis= 1)

In [ ]:
scaler = MinMaxScaler()
# train[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
#        'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
#        'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
#        'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
#        'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
#        'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
#        'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
#        'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']] = scaler.fit_transform(train[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
#        'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
#        'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
#        'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
#        'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
#        'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
#        'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
#        'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']]) 

# test[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
#        'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
#        'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
#        'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
#        'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
#        'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
#        'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
#        'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']] = scaler.fit_transform(test[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
#        'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
#        'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
#        'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
#        'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
#        'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
#        'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
#        'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']])      

valid[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
       'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
       'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
       'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
       'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
       'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
       'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
       'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']] = scaler.fit_transform(valid[['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET', 'T2M_MAX',
       'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
       'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE',
       'elevation', 'slope1', 'slope2', 'slope3', 'slope4', 'slope5', 'slope6',
       'slope7', 'slope8', 'aspectN', 'aspectE', 'aspectS', 'aspectW',
       'aspectUnknown', 'WAT_LAND', 'NVG_LAND', 'URB_LAND', 'GRS_LAND',
       'FOR_LAND', 'CULTRF_LAND', 'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2',
       'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7']])

In [ ]:
# train.head()
# test.head()
valid.head()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,...,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7,year,month,day
0,1001,0.105411,0.882990,0.461800,0.625198,0.775547,0.774211,0.568045,0.648254,0.300632,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.285714,2017,1,3
1,1001,0.000112,0.921993,0.261314,0.505400,0.615991,0.613886,0.485077,0.468841,0.486531,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.285714,2017,1,10
2,1001,0.000784,0.907638,0.543066,0.667963,0.822517,0.821461,0.630340,0.707647,0.323246,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.285714,2017,1,17
3,1001,0.000000,0.883803,0.260341,0.553636,0.630333,0.628314,0.537240,0.569626,0.395743,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.285714,2017,1,24
4,1001,0.000000,0.901408,0.343552,0.584017,0.699713,0.697926,0.592826,0.583013,0.501497,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.285714,2017,1,31

# **LƯU DỮ LIỆU ĐÃ ĐƯỢC XỬ LÍ**

In [ ]:
# train.to_csv('processed_train_data.csv', index= False)
# test.to_csv('processed_test_data.csv', index= False)
valid.to_csv('processed_valid_data.csv', index= False)